//FONT
$font: 'Arial', sans-serif;

//COLOR
$green: #97D700;
$grey: #1A1A1A;
$lightgrey: #8C8C8C;
$blue: #12256A;
$bordercolor: #f7f7f7;
$white: #fff;
$error: red;

$maincolor: $green;
$secondarytextcolor: $lightgrey;
$textcolot: $grey;
$btnbackground: $blue;